[submodule "RenderingPlugin/External/NRD"]
	path = RenderingPlugin/External/NRD
	url = https://github.com/NVIDIA-RTX/NRD.git
	branch = v4.17.2
[submodule "RenderingPlugin/External/NRI"]
	path = RenderingPlugin/External/NRI
	url = https://github.com/NVIDIA-RTX/NRI.git
	branch = v178
[submodule "RenderingPlugin/External/donut"]
	path = RenderingPlugin/External/donut
	url = https://github.com/Kuan-Mi/DonutForUnity.git
[submodule "RenderingPlugin/External/NRD-Sample"]
	path = RenderingPlugin/External/NRD-Sample
	url = https://github.com/Kuan-Mi/NRD-Sample.git
[submodule "RenderingPlugin/External/RTXDI-Library"]
	path = RenderingPlugin/External/RTXDI-Library
	url = https://github.com/NVIDIA-RTX/RTXDI-Library
[submodule "RenderingPlugin/External/RTXDI"]
	path = RenderingPlugin/External/RTXDI
	url = https://github.com/Kuan-Mi/RTXDIForUnity.git
